{% extends 'base.html' %}

{% block content %}
<div class="container shadow-container min-height-con mt-5 overflow-hidden round-edge" >
	<div class="row bg-dark text-white">
		<div class="col-sm-7 p-3">
			<h2>My Drive</h2>
		</div>
		<div class="col-sm-5 p-3">
            <div class="float-end">
                <button type="button" class="btn icon-color btn-circle btn-lg back_folder btn-outline-light"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
			    <button type="button" class="btn icon-color btn-circle btn-lg btn-outline-light" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="fa fa-folder" aria-hidden="true"></i></button>
                <button type="button" class="btn icon-color btn-circle btn-lg delete_folder btn-outline-light"><i class="fa fa-trash" aria-hidden="true"></i></button>
                <!--<button type="button" class="btn icon-color btn-circle btn-lg"><i class="fa fa-upload" aria-hidden="true"></i></button>    
                -->
                <button type="button" class="btn icon-color btn-circle btn-lg btn-outline-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="WebHDFS is used to Build the File System"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
            </div>
        </div>
	</div>
	<div class="row p-2" id="files">
        {% for file in FileStatuses.FileStatus %}
            {% if file.type == 'DIRECTORY' %}
            <div class="d-flex flex-column col-sm-1 m-2 p-2">
                <div class="d-flex" > 
                    <input class="form-check-input" type="radio" value={{file.pathSuffix}} name="folderFileName">
                    <div class="col-sm-1 m-2 p-2 folder" value={{file.pathSuffix}}> 
                        <i class="fa fa-folder" aria-hidden="true" style="font-size: 50px; color:rgb(95,99,104);"></i>     
                    </div>
                </div>
                <div class="text-truncate" >{{file.pathSuffix}}</div> 
            </div>
            {% else %}
            <div class="d-flex flex-column col-sm-1 m-2 p-2">
                <div class="d-flex" > 
                    <input class="form-check-input" type="radio" value={{file.pathSuffix}} name="folderFileName">
                    <div class="col-sm-1 m-2 p-2"> 
                        <i class="fa fa-file-text" aria-hidden="true" style="font-size: 50px; color: rgb(25,103,210);" ></i>     
                    </div>
                </div>
                <div class="text-truncate" >{{file.pathSuffix}}</div> 
            </div>
            {% endif %}
        {% endfor %} 
	</div>
</div>
<div class="min-height-bottom">
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Enter Directory Name</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-outline">
                <input type="text" id="form12" class="form-control dir_name"  />
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary new_folder" data-bs-dismiss="modal">Create</button>
        </div>
      </div>
    </div>
</div>
{% endblock %}