{% extends 'base.html' %}

{% block content %}
<div class="container shadow-container min-height-con mt-5 overflow-hidden round-edge">
	<div class="row bg-dark text-white">
		<div class="col-sm-7 p-3">
			<h2>Edit Hive</h2>
		</div>
		<div class="col-sm-5 p-3">
            <div class="float-end">
                <button type="button" class="btn icon-color btn-circle btn-lg btn-outline-light" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Shell script and spark submit is going to create"><i class="fa fa-info-circle" aria-hidden="true"></i></button>
            </div>
        </div>
	</div>
	<div class="p-2">
		<div class="mb-3">
			<div class="row g-3 align-items-center">
				<div class="col-auto me-2">
					<h4>Hive Table Column Name</h4>
				</div>
				<div class="col-auto">	
					<h4>File Column Name</h4>	
				</div>
			</div>
		</div>
		<div id="columns">
			{% for column in hive_column_details %}
				<div class="mb-3">
					<div class="row g-3 align-items-center">
						<div class="col-auto me-2">
							<input type="hiveColumnName" class="form-control" name="hiveColumnName{{column.id}}" value="{{column.column_name}}">
						</div>
						<div class="col-auto">	
							<input type="csvColumnName" class="form-control" name="csvColumnName" value="{{column.file_column_name}}" readonly>	
						</div>
						<div class="col-auto"><button type="remove" class="btn btn-primary remove_column" value={{column.id}}>Remove</button></div>
						<div class="col-auto"><button type="update" class="btn btn-primary update_column" value={{column.id}}>Update</button></div>	
					</div>
				</div>
			{% endfor %}
		</div>
		<input type="hidden" class="hive_type_file" value={{hive_type}}>
		<input type="hidden" class="pipline_id" value={{id}}>
		<button type="submit" class="btn btn-primary submit_hive_pipline">Submit</button>
	</div>
</div>
<div class="min-height-bottom">
</div>
{% endblock %}