{% extends 'base.html' %}

{% block content %}
<div class="container shadow-container min-height-con mt-5 overflow-hidden round-edge">
	<div class="row bg-dark text-white">
		<div class="col-sm-10 p-3">
			<h2>Edit</h2>
		</div>
	</div>
	<div class="p-2">
		<form>
			<div class="mb-3">
				<div class="row g-3 align-items-center">
					<div class="col-auto">
			  			<label class="form-label" style="width: 130px;">File Path</label>
					</div>
					<div class="col-auto">	
						<input type="filePath" class="form-control" id="filePath" placeholder="HDFS file path">
					</div>
				</div>
			</div>
			<div class="mb-3">
				<div class="row g-3 align-items-center">
					<div class="col-auto">
			  			<label class="form-label" style="width: 130px;">Schedule Time</label>
					</div>
					<div class="col-auto">	
						<input type="scheduleTime" class="form-control" id="scheduleTime" placeholder="Schedule Cron Time">
					</div>
				</div>
			</div>
			<div class="mb-3">
				<div class="row g-3 align-items-center">
					<div class="col-auto">
			  			<label class="form-label" style="width: 130px;">Delimiter</label>
					</div>
					<div class="col-auto">	
						<input type="delimiter" class="form-control" id="delimiter" placeholder="Delimiter">
					</div>
				</div>
			</div>
			<div class="mb-3">
				<div class="row g-3 align-items-center">
					<div class="col-auto">
			  			<label class="form-label" style="width: 130px;">Table Name</label>
					</div>
					<div class="col-auto">	
						<input type="tableName" class="form-control" id="tableName" placeholder="Table Name">
					</div>
				</div>
			</div>
			<div class="mb-3">
				<div class="row g-3 align-items-center">
					<div class="col-auto">
			  			<label class="form-label" style="width: 130px;">Database Name</label>
					</div>
					<div class="col-auto">	
						<input type="databaseName" class="form-control" id="databaseName" placeholder="Database Name">
					</div>
				</div>
			</div>
			<div class="mb-3">
				Table Column
			</div>
			<div class="mb-3">
				<div class="row g-3 align-items-center">
					<div class="col-auto">
						<input type="hiveColumnName" class="form-control" id="hiveColumnName" placeholder="Hive Column Name">
				    </div>
					<div class="col-auto">	
						<input type="tableHeaderName" class="form-control" id="tableHeaderName" placeholder="Table Header Name">	
					</div>
					<div class="col-auto"><button type="add" class="btn btn-primary">Remove</button></div>
				</div>
			</div>
			<div class="mb-3">
				<div class="row g-3 align-items-center">
					<div class="col-auto">
						<input type="hiveColumnName" class="form-control" id="hiveColumnName" placeholder="Hive Column Name">
				    </div>
					<div class="col-auto">	
						<input type="tableHeaderName" class="form-control" id="tableHeaderName" placeholder="Table Header Name">	
					</div>
					<div class="col-auto"><button type="add" class="btn btn-primary">Add</button></div>	
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form> 
	</div>
</div>
<div class="min-height-bottom">
</div>
{% endblock %}